@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,400;1,700&display=swap');

$background_color: #f1faee;
$header_color: #3b5d8c;

html {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

* {
	font-family: 'Roboto';
  margin: 0;
	user-select:none;
	-webkit-user-drag:none;
	-moz-user-drag:none;
}

body {
	background-color: $background_color;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
	display: flex;
	align-items: stretch;
	flex-direction: row;
	background-color: $header_color;
	min-width: fit-content;
	max-width: 100%;

	.headerGroup {
		display: flex;
		min-width: 25em;
		flex-direction: column;
		padding-left: 2em;
		padding-right: 2em;
		border-right: solid $background_color 3px;

		&-name {
			text-align: center;

			> h3 {
				margin: 0.3em;
				color: $background_color;
			}
		}

		&-buttons {
			display: flex;
			justify-content: space-evenly;
			margin-bottom: 0.5em;

			> p {
				margin: 0;
				color: $background_color;
				font-size: 0.9em;
				padding: 0.3em;
				
				&.button {
					border: solid $background_color 0.15em;
					text-align: center;
					width: 7em;

					&:hover {
						background-color: $background_color;
						color: $header_color;
						transition-duration: 0.2s;
						cursor: pointer;
					}
				}
			}

			> button {
				background-color: $background_color;
				text-decoration: none;
				border: none;
			}
		}
	}
}

.mazeGenerator {
	display: flex;
	align-items: center;
	justify-content: center;
}

.maze {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 3em;

	&-grid {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		gap: 0;

		&-column {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
	
			> img {
				height: 40px;
				background-color: #a8dadc;

				&.selectable {
					cursor: pointer;
				}

				&.stacked {
					background-color: #457b9d;
				}

				&.head {
					background-color: #ffe599;
				}

				&.start {
					background-color: #86b86f;
				}

				&.goal {
					background-color: #e06666;
				}

				&.start.goal {
					background-color: #8e7cc3;
				}
			}
		}
	}
}
