@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,400;1,700&display=swap');

* {
	user-select:none;
	-webkit-user-drag:none;
	-moz-user-drag:none;
}

body {
	font-family: 'Roboto';
  margin: 0;
	background-color: #f1faee;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
	display: flex;
	align-items: center;
	flex-direction: row;
	background-color: #3b5d8c;

	.headerGroup {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding-left: 2em;
		padding-right: 2em;
		border-right: solid black 3px;

		&-name {
			> h3 {
				margin: 0.3em;
			}
		}

		&-buttons {
			display: flex;
			gap: 0.2em;
			margin-bottom: 0.5em;

			> p {
				margin: 0;
			}
		}
	}
}

.mazeGenerator {
	display: flex;
	align-items: center;
	justify-content: center;
}

.maze {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 3em;

	&-grid {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		gap: 0;

		&-column {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
	
			> img {
				height: 40px;
				background-color: #a8dadc;

				&.stacked {
					background-color: #457b9d;
				}

				&.head {
					background-color: #fdffb6;
				}

				&.start {
					background-color: #06d6a0;
				}

				&.goal {
					background-color: #ef233c;
				}
			}
		}
	}
}
